.app-btn{
    width: 240px;
    height: 35px;
    font-weight: lighter;
    font-size: large;
    background-color: #030303;
    border: 0px;
    border-radius: 4px;
    color: white;
    transition: box-shadow 0.4s;
    cursor: pointer;
  }
  
  .app-btn:hover{
    box-shadow: 4px 4px 8px rgba(0,0,0,0.4)
  }
  
  .app-btn:active{
    background-color: black;
    color: white;
  }

  h1{
    text-align: center;
  }

  .flex {
    display: flex;
    justify-content:space-around;
    align-items: center;

    
  }